@keyframes glowDark{
    0% {
        fill: purple;
        filter: drop-shadow(0 0 5px purple);
    }
    50%{
        fill: rgb(189, 85, 189);
        filter: drop-shadow(0 0 20px rgb(189, 85, 189));
    }
    100%{
        fill: purple;
        filter: drop-shadow(0 0 5px purple);
    }
}