#resume-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: auto;
    margin: 5%;
}
#hidden {
    display: none;
}

#resume-btn{
    padding: 50%;
    border: 2px solid blue;
    border-radius: 4rem;
}


#resume-btnDark {
    background-color: darkslategrey;
    
}
#resume-btnLight {
    background-color: honeydew;
}