#type-intro {
    overflow: hidden;
    /* white-space: nowrap; */
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end);
}

#type-container {
    display: inline-block;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    text-overflow: clip;
    font-size: 1.7rem;
    line-height: 3rem;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
