@tailwind components;
@tailwind base;
@tailwind utilities;

html{
    overscroll-behavior: none;
    scroll-padding: 4rem;
    scroll-behavior: smooth;
}
@layer base {
    html, p, li, a, div  {
        @apply text-default-dark dark:text-default-light
    }
}

